.repo/
bin/
plans/
.env-example
.gitignore
.gitlab-ci.yml
LICENSE.md
.vscode/
.vscode*
.git/
.venv/
.cache
.terraform/
.tfplan
terraform.*
**.pyc
**.tf
**.tfstate
.dockerignore
**/__pycache__/
.in
.out
.pylintrc
Makefile
README.md
**/build/
assets/
deploy/
*.tgz
*.zip
trivialsec-common/
.lh/
.development/
src_old/
